@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="intro-region">
		<div class="container intro-region-container">
			<h2 class="intro-region-h">Центральный регион</h2>
			<p class="intro-region-text">На территории округа берут начало такие крупные реки Европы как Волга, Дон, Днепр. Преобладающая часть территории ЦФО принадлежит бассейнам рек Волги и Дона.</p>
			<p class="intro-region-text">Территория округа равнинная, расположена в нескольких природных зонах — хвойных, смешанных и широколиственных лесов, лесостепей и степей. Лесистость региона уменьшается с севера на юг. В Костромской области она составляет – около 70%, В Воронежской области – не превышает 10%. С севера на юг в структуре земель растет доля пашни.</p>
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
			</ul>
		</div>
	</section>
</div>