@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="intro-region">
		<div class="container intro-region-container">
			<h2 class="intro-region-h">Северо-Кавказский регион</h2>
			<p class="intro-region-text">Кто знает, оценил бы мир творчество русского поэта Лермонтова так высоко, если бы его стихи ни были пронизаны свободным духом и восхищением красотами гордого Северного Кавказа. Действительно, каждый, кто посещает благословенный «край горцев», приходит в восторг от такого многообразия природных ландшафтов.</p>
			<p class="intro-region-text">Сложно назвать хоть один из топографических элементов местности, который нельзя было бы найти на топографической карте Северного Кавказа: высочайшие в Европе горные хребты покрыты ледниками и снежными шапками, у подножья – широколиственными лесами. Вечнозеленые пихты и сосны встречаются выше по склону, еще выше – альпийские луга. На равнинах – ковыльные степи и субтропические оазисы. Стремительность горных рек, их опасная крутизна и непредсказуемость поворотов стали ассоциативными символами природы Северного Кавказа.</p>
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'pointnorthkavkaz';"><img class="rating-img" src="~/Content/img/northkavkaz.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointnorthkavkaz';"><img class="rating-img" src="~/Content/img/northkavkaz.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointnorthkavkaz';"><img class="rating-img" src="~/Content/img/northkavkaz.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointnorthkavkaz';"><img class="rating-img" src="~/Content/img/northkavkaz.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointnorthkavkaz';"><img class="rating-img" src="~/Content/img/northkavkaz.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointnorthkavkaz';"><img class="rating-img" src="~/Content/img/northkavkaz.png"></li>
			</ul>
		</div>
	</section>
</div>