@model IEnumerable<Ecotourism.Models.GeoPoints>
@{
	ViewBag.Title = "Карта";
	@Styles.Render("~/Content/map");
}
<div id="osmPanel" style="left:250px;position:absolute;background:border-box;background-color:white;width:250px;border:dashed;border-color:black;z-index:999">
	<div id="drawContainer"></div>
</div>
<div id="infoContainer" style="display:none;">
	<div id="nameInfoLabel" class="infoLabel">
		Name
	</div>
	<div id="descriptionInfoLabel" class="infoLabel" style="height:80%">
		Description
	</div>
	<div id="scoreInfoLabel" class="infoLabel">
		4/5
	</div>
</div>
<div id="demoMap" style="height:100%"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/map/OpenLayers.js"></script>
<script src="~/Scripts/map/proj4.js"></script>
<script src="~/Scripts/map/osmPlugin.js"></script>
<script src="~/Scripts/map/osmPluginTools.js"></script>
<script src="~/Scripts/map/displayPanel.js"></script>
<script>



	osmPlugin.init();
	osmPluginTools.onPointCreated.add(function (e) {
		console.log('[PointCreated]: lon: ' + e.lon + ', lat: ' + e.lat);
	});

	//$.getJSON('testConfig.json', function (data) {
	//	let points = data.points;
	//	for (let i = 0; i < points.length; i++) {
	//		osmPlugin.addPoint(points[i].lon, points[i].lat, null, points[i]);
	//	}
	//});
	var source = new proj4.Proj('EPSG:4326');
	var dest = new proj4.Proj('EPSG:3785');
	//$.getJSON('/Content/json/testConfig2.json', function (data) {
	//	let points = data.features;
	//	for (let i = 0; i < points.length; i++) {
	//		let p = proj4.toPoint(points[i].geometry.coordinates);
	//		//console.log(p);
	//		p = proj4.transform(source, dest, p);
	//		osmPlugin.addPoint(p.x, p.y, null, points[i]);
	//	}
	//});
	let points = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
	for (var i = 0; i < points.length; i++) {
		let p = proj4.toPoint([points[i].Lon, points[i].Lat]);
		p = proj4.transform(source, dest, p);
		osmPlugin.addPoint(p.x, p.y, null, {
			properties: {
				"NAME_RU": points[i].Name,
				"NAME_EN": points[i].ImagePath,
				"DESCRIPTION": points[i].Description,
				"NAME_P_RU": null,
				"ID": points[i].Id
			}
		});
	}
</script>