@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="point">
		<div class="container point-container">
			<div class="point-description">
				<h2 class="point-h">Шорский национальный парк</h2>
				<p class="point-text">Шорский национальный парк занимает юго-восточную южную территорию Таштагольского района Кемеровской области в районе Горной Шории, от Кемерово удален на 320 километров в сторону юго-востока, от Новокузнецка на 120 километров. Национальный парк «Шорский» появился в 1989 году, целью создания явилась сохранность уникальных природных участков и эталонных комплексов Горной Шории, а именно ценозов из кедра, черневой тайги; а также культурного наследия аборигенов Шории и создание рекреационной зоны. </p>
			</div>
			<img class="point-img-title" src="~/Content/img/sibir.png">
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ural-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/dalny-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/kavkaz-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/privolzh-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/sibir-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/center-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
			</ul>
		</div>
	</section>
</div>