@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="intro-region">
		<div class="container intro-region-container">
			<h2 class="intro-region-h">Сибирский регион</h2>
			<p class="intro-region-text">Алтай – уникальное место. На стыке природных зон, в самом центре материка, на равном удалении от Тихого, Индийского и Северного ледовитого океанов природа создала удивительный край синих озер, высоких утесов, непроходимой тайги, сухих степей и обширных и богатых лугов. Здесь русское старообрядчество давно смешалось с культурой Азии, здесь скакали конницы Чингисхана, а первопроходцы искали путь в загадочную Шамбалу. Алтай – это своеобразный микс азиатского колорита и славянского мира, архаика и современность "в одном флаконе".</p>
			<p class="intro-region-text">Столь же уникальна и природа Алтая. Большую часть территории занимают горы, сплошь изрезанные речными долинами и межгорными котлованами. На Алтае насчитывается свыше 200 тысяч рек и озер, и в большинстве своем это горные реки – с чистейшей водой, сильным течением, крутыми порогами и сильными перепадами.</p>
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'pointsibir';"><img class="rating-img" src="~/Content/img/sibir.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointsibir';"><img class="rating-img" src="~/Content/img/sibir.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointsibir';"><img class="rating-img" src="~/Content/img/sibir.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointsibir';"><img class="rating-img" src="~/Content/img/sibir.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointsibir';"><img class="rating-img" src="~/Content/img/sibir.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointsibir';"><img class="rating-img" src="~/Content/img/sibir.png"></li>
			</ul>
		</div>
	</section>
</div>