@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="intro-region">
		<div class="container intro-region-container">
			<h2 class="intro-region-h">Южный регион</h2>
			<p class="intro-region-text">Основными водными артериями региона является река Волга, Дон, Кубань и Терек. Самой протяженной рекой, протекающей в пределах Южного федерального округа, является река Кубань, а самой водной – Волга. На территории округа насчитывается около 5 тысяч озер общей площадью почти 6 тыс. км2, в силу разнообразия рельефа озера делятся на равнинные и горные. Большинство озер – пресноводные, но немало также соленых озер.</p>
			<p class="intro-region-text">Для округа характерна не только широтная, но и высотная сменяемость основных типов экосистем. В широтном направлении основными зонами являются степи – на севере, полупустыни, пустыни и субтропики – на юге.</p>
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/ug-rating.jpg"></li>
			</ul>
		</div>
	</section>
</div>