@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="intro-region">
		<div class="container intro-region-container">
			<h2 class="intro-region-h">Уральский регион</h2>
			<p class="intro-region-text">Климат континентальный с продолжительной и холодной зимой и теплым летом. Растительность на севере тундровая и лесотундровая, южнее – тайга (представленная темнохвойными и светлохвойными лесами), переходящая в лесостепь. На склонах Южного Урала встречаются участки широколиственных (липовых и дубовых) лесов. В целом леса и кустарники занимают не более 1/4 территории округа. Основные земельные ресурсы, используемые в сельском хозяйстве, сосредоточены на юге территории, в зоне лесостепи.</p>
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'pointural';"><img class="rating-img" src="~/Content/img/ural.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointural';"><img class="rating-img" src="~/Content/img/ural.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointural';"><img class="rating-img" src="~/Content/img/ural.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointural';"><img class="rating-img" src="~/Content/img/ural.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointural';"><img class="rating-img" src="~/Content/img/ural.png"></li>
				<li class="raiting-item" onclick="window.location.href = 'pointural';"><img class="rating-img" src="~/Content/img/ural.png"></li>
			</ul>
		</div>
	</section>
</div>