@{
	@Styles.Render("~/Content/lending")
}
<div class="container">
	<section class="intro-region">
		<div class="container intro-region-container">
			<h2 class="intro-region-h">Северо-Западный регион</h2>
			<p class="intro-region-text">Природа Северо-Западного района. Это неброские, полные спокойной красы таёжные ландшафты, в которые органично вписываются старинные деревянные избы северных сел и православные храмы. Волнистые песчаные низины сменяются холмистыми возвышенностями и грядами. Низины обычно покрыты бескрайними сосновыми лесами, множеством болот, богатых клюквой и морошкой. На возвышенностях и грядах чаще произрастают ельники или мелколиственные леса из берёзы и осины. Повсюду много камней-валунов, принесенных сюда древним ледником. Иногда встречаются камни-великаны размером до 3-5 метров. Много озёр, рек и ручьев. Зеркальные глади озёр, расположенных в понижениях между покрытыми лесом холмами, придают неповторимое очарование этому уголку русской природы.</p>
		</div>
	</section>
</div>
<div class="container color-container">
	<section class="rating">
		<div class="container rating-container">
			<ul class="raiting-list">
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
				<li class="raiting-item" onclick="window.location.href = 'point';"><img class="rating-img" src="~/Content/img/zapad-rating.jpg"></li>
			</ul>
		</div>
	</section>
</div>